*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #1f242d;
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    cursor: default;
    top:0;
    left:0;
    width: 100%;
    background: transparent;
    z-index:100;
    padding:20px 10%;
    align-items: center;
   
}
.nav-heading{
   font-size: 25px;
   color: #fff;
   text-decoration: none;
   font-weight: 600;
   cursor:default;
}
.nav-ul{
    display: flex;
    gap:10%;
    margin-right:5% ;
}
.nav-ul>li{
    list-style: none;
    text-align: center;
    padding:0;
    margin: 0;
}

.nav-ul>li>a{
    text-decoration: none;
   font-size: 18px;
   color:#fff;
   margin: 0;
   font-weight: 500;
   transition: .3s;
}
.nav-ul>li>a:hover{
    color:#0ef;
}
.nav>ul>li>a.active{
    color:#0ef;
}
.Image{
    height: 450px;
    border-radius: 50%;
    /* filter: drop-shadow(10px 10px 20px #0ef);  */
    background-color: #1f242d;
    transition:0.5s;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.Image:hover{
    opacity:50%;
    cursor: pointer;
}
.main-part-material{
    color:#fff;
    box-sizing: border-box;
    padding-top:6% ;
    width: 50%;
}
.main-part{
    display: flex;
    justify-content: center;
    margin:2%;
    gap: 2%;
    text-align: start;
}
.h3{
    font-size: 35px;
    margin: 1%;
    justify-content: center;
    text-align: start;
}
.main-part-material>h5{
    color:#0ef;
    font-size: 25px;
    justify-content: center;
    text-align: start;
    margin: 1%;
}
span{
    color:#0ef;
}
.button-div{
    display: flex;
    gap:5%;
    margin-top: 8%;
    
}
.main-button{
  height:50px;
  width:150px;
  border-radius: 10px;
  font-size: 110%;
  font-weight: 700;
  transition:.3s;
}
.first-button{
    background-color: #0ef;
    color:#1f242d;
    border:solid #1f242d;
}
.first-button:hover{
    background-color: #1f242d;
    color: #0ef;
    border:solid  #0ef;
    cursor:pointer;
}
.second-button{
    background-color: #1f242d;
    color: #0ef;
    border:solid  #0ef;
}
.second-button:hover{
    background-color: #0ef;
    color:#1f242d;
    border:solid #1f242d;
    cursor:pointer;
}
 
@keyframes floating {
    0% { transform: translate(0,  -5px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -5px); }    
}
.icons{
 position: relative;
 top: 20%;
 left:1%;
 display: flex;
 gap:10px;
 box-sizing: content-box;
}
.icons a{
    height: fit-content;
   width: fit-content;
    color:#0ef;
    border: solid;
    font-size: 130%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding:1%;
}
.icons a:hover{
    color:#1f242d;
    border: solid;
    background-color: #0ef;

}
.newimage{
    border-radius: 50%;
    width:fit-content;
    /* filter: drop-shadow(5px 5px 10px #0ef);  */
    background-color: #1f242d;
    transition:0.5s;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.section-2-heading{
    color:#fff;
    font-size: 35px;
}
.second-portion{
  display: flex;
}
.second-part-section2{
margin:3%;
margin-top:10%;
justify-content: center;
text-align: center;
color:#fff;
}
.image2{
    margin-top:5%;
}
.newimage:hover{
    opacity:50%;
    cursor: pointer;
}
.second-part-section2>h5{
    color:#0ef;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    margin: 1%;
}
.section-3-heading{
    color:#fff;
    font-size: 35px;
    justify-content: center;
    text-align: center;
}
.Third-section{
    margin-top:8%;
}
.makeitflex{
    display: flex;
    justify-content: space-between;
}

.div-1{
    border: solid 3px #0ef ;
    border-radius: 8px;
    padding: 2%;
    width: 50%;
}
.border{
    width: 100%;
    background-color: #1f242d;
    border: #0ef solid;
    border-radius: 8px;
    height:20px;
    padding:0.3%;
}
.part1{
    width: 90%;
    height: 10px;
    background-color: #0ef;
    border-radius:8px;
}
.part2{
    width: 60%;
    height: 10px;
    background-color: #0ef;
    border-radius:8px;
}
.part3{
    width: 90%;
    height: 10px;
    background-color: #0ef;
    border-radius:8px;
}
.part4{
    width: 50%;
    height: 10px;
    background-color: #0ef;
    border-radius:8px;
}
.white{
    color:#fff;
    font-size: 18px;
}
.blue{
    color:#0ef;
    font-size: 18px;
}
.part5{
    width:50%;
}
.part6{
    width: 30%;
}
.part7{
    width: 90%;
}
.part8{
    width: 75%;
}
.div-2{
    border: solid 3px #0ef ;
    border-radius: 8px;
    padding: 2%;
    width: 50%;
}
.div-0{
    margin:0px 2%;
    display: flex;
    gap:5%;
}
.headdiv{
    margin:0px  2%;
    display: flex;
    gap:38%;
}
.div-1:hover{
    background-color:#131418;
    opacity: 0.7;
    cursor: pointer;
}
.div-2:hover{
    background-color:#131418;
    opacity: 0.7;
    cursor: pointer;
}
.contact{
    margin:10%;
}
.contact1{
    margin-top:8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact1>input{
    height:50px;
    border: solid;
    border-color:#0ef;
    background-color: #1f242d;
    border-radius: 10px;
    width:40%;
    margin-left:2%;
    color:#fff;
    font-size: large;
    text-align: start;
    padding-left: 15px;
}
*:focus {
    outline-style:solid;
    outline-color:#0ef ;
}
.contact1>::placeholder{
    color: #f7f2f29b;
    padding-left:3%;
    font-size: large;
}
.contact2{
    margin-top:2.5%;
}
.contact3{
    height:300px;
    border: solid;
    border-color:#0ef;
    background-color: #1f242d;
    border-radius: 10px;
    width:83%;
    margin:2% 10%;
    color:#fff;
    font-size: large;
    text-align: start;
    padding:2%;
}
.contact3::placeholder{
    color: #f7f2f29b;
}
.last{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-part1{
    display: flex;
    gap:3%;
    padding: 3%;
    /* flex-wrap: wrap; */
}
.grid-part1>div{
    height:200px;
    width:400px;
    border: solid 2px;
    border-color:#0ef;
    border-radius: 10px;
    transition:0.5s;
}
.grid-part1>div>a>img{
    object-fit: cover;
    height:195px;
    width: 390px;
    border-radius:10px;
    transition:0.5s;
}
.grid-part1>div:hover{
    height:fit-content;
 }
.grid-part1>div>a>img:hover{
 height:500px;
 object-fit: cover;
 background-color: #0ef;
}
.grid-part2{
    display: flex;
    gap:3%;
    padding: 3%;
}
.grid-part2>div{
    height:200px;
    width:400px;
    border: solid 2px;
    border-color:#0ef;
    border-radius: 10px;
}
.projects{
    margin-top:10%;
}
.order-line{
    border-left:dotted 3px;
    border-color: #0ef;
}
.Education-main-div{
    width:100%;
    display: block;
    margin-top:5%;
    padding-right:20%;
    padding-left: 20%;
    justify-content: center;
    align-items:center;
   
}
.Education-main-div>div>div{
    margin:4%;
    padding:2%;
    border: solid 3px;
    border-color: #0ef;
    border-radius: 10px;
    color:#fff;
    font-size: large;
    transition: 0.3s;
}
.Education-main-div>div>div:hover{
    margin:4%;
    padding:2%;
    border: solid 3px;
    border-color: #0ef;
    border-radius: 10px;
    color:#1f242d;
    background-color: #0ef;
    font-size: large;
}